{%extends 'writeup/base.html'%}
{%load static%}

{% block content %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html" style="color: white;"><h2 style="color: white;"><em> D3ds3c</em> </h2></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li style="color: red;"><a href="{%url 'welcomehome'%}" > <h5 style="color: pink;">Welcome page</h5></a></li>
                                <li ><a href="{%url 'wuhpage'%}">Home</a></li>
                                
                                
                                <li><a href="{%url 'writeup'%}">Writeup</a>
                                    <ul class="dropdown">

                                        <li><a href="#">Create writeup</a></li>
                                        {%if user.is_authenticated%}
                                        
                                        <li><a href="{%url 'userwu' user.username%}">My writeup</a></li>
                                        {%endif%}
                                        <li><a href="#">Categories</a></li>
                                        <li><a href="#"> placeholder</a></li>
                                    </ul>
                                
                                </li>
                                

                                <li><a href="{%url 'aboutus'%}">About us</a></li>
                               
                                
                                {%if user.is_authenticated%}
                                <li><a href="#">Hello, {{user.first_name}}</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="{% url 'logout'%}">Log out</a></li>
                                        
                                    </ul>
                                </li>
                                {%else%}
                                
                                <li>
                                    <a href="{% url 'login'%}">Sign in</a>
                                </li>
                                {%endif%}
                                
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.facebook.com/profile.php?id=100068404994823"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/phong20031"><i class="fa fa-twitter"></i></a>
                            
                            <a href="https://www.instagram.com/_minh_nguyn/?hl=en"><i class="fa fa-instagram"></i></a>
                            <a href="https://zalo.me/0377075126"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'writeup/img/breadcrumb-bg.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        {%if user == post.first.author%}
                        <h2>My writeup</h2>
                        {%else%}
                        <h2>{{post.first.author.first_name}}'s Writeup</h2>
                        {%endif%}
                        
                        <div class="breadcrumb__links">
                            <a href="{%url 'wuhpage'%}">Home</a>
                            <span><a href="{%url 'writeup'%}">Writeup</a> </span> <span> {{post.first.author}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                {%for p in post%}
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="{%url 'writeupdetail' p.id%}">
                    <div class="blog__item">
                          <h4>{{p.title}}</h4>
                        
                        
                         <p> <h6 style="color: white;">Author:{{p.author.first_name}}  | Date: {{p.date_create|date:"M d, Y" }}</h6></p>
                        <br>
                       
                    </div>
                    </a>
                </div>
                {%endfor%}
                
            </div>

            {%if is_paginated%}
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pagination__option blog__pagi">
                            {%if page_obj.has_previous%}
                            <a href="?page={{page_obj.previous_page_number}}" class="arrow__pagination left__arrow"><span class="arrow_left"></span> Prev</a>
                            {%endif%}
                            {%for p in page_obj.paginator.page_range%}
                            {%if p == page_obj.number%}
                            <a href="?page={{p}}" class="number__pagination " style="background-color: blueviolet;">{{p}}</a>
                            {%else%}
                            <a href="?page={{p}}" class="number__pagination">{{p}}</a>
                            {%endif%}
                            
                            {%endfor%}
                            
                            
                            {%if page_obj.has_next%}
                            <a href="?page={{page_obj.next_page_number}}" class="arrow__pagination right__arrow">Next <span class="arrow_right"></span></a>
                            <a href="?page={{page_obj.paginator.num_pages }}" class="arrow__pagination right__arrow">Last <span class="arrow_right"></span></a>

                            {%endif%}
                            
                        </div>
                    </div>
                </div>

            {%endif%}
            
        </div>
    </section>
    <!-- Blog Section End -->

{% endblock %}