{%extends 'writeup/base.html'%}
{%load static%}

{% block content %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{%url 'wuhpage'%}" style="color: white;"><h2 style="color: white;"><em> D3ds3c</em> </h2></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li style="color: red;"><a href="{%url 'welcomehome'%}" > <h5 style="color: pink;">Welcome page</h5></a></li>
                                <li ><a href="{%url 'wuhpage'%}">Home</a></li>
                                
                                <li ><a href="#">Roadmap</a></li> 
                                <li><a href="{%url 'writeup'%}">Writeup</a>
                                    <ul class="dropdown">

                                        <li><a href="{%url 'writeupcreate'%}">Create writeup</a></li>
                                        {%if user.is_authenticated%}
                                        
                                        <li><a href="{%url 'userwu' user.username%}">My writeup</a></li>
                                        {%endif%}
                                        <li><a href="{%url 'cate'%}">Categories</a></li>
                                        <!-- <li><a href="#"> placeholder</a></li> -->
                                    </ul>
                                
                                </li>
                                

                                
                               
                                
                                {%if user.is_authenticated%}
                                <li><a href="#">Hello, {{user.first_name}}</a>
                                    <ul class="dropdown">
                                        <li><a href="{%url 'profile' user.id%}">Profile</a></li>
                                        <li><a href="{% url 'logout'%}">Log out</a></li>
                                        
                                    </ul>
                                </li>
                                {%else%}
                                
                                <li>
                                    <a href="{% url 'login'%}">Sign in</a>
                                </li>
                                {%endif%}
                                
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.facebook.com/profile.php?id=100068404994823"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/phong20031"><i class="fa fa-twitter"></i></a>
                            
                            <a href="https://www.instagram.com/_minh_nguyn/?hl=en"><i class="fa fa-instagram"></i></a>
                            <a href="https://zalo.me/0377075126"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Blog Details Hero Begin -->
    <section class="blog-hero spad set-bg" data-setbg="{%static 'writeup/img/blog/blog-hero.jpg'%}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__hero__text">
                        
                        <h2>{{post.title}}</h2>
                        {%if user == post.author%}
                        <h4 style="color: white;"><a href="{%url 'writeupdelete' post.pk%}"> Delete</a> | <a href="{%url 'writeupupdate' post.pk%}">Update</a></h4>
                        {%endif%}
                        <ul>
                             <li><h3 style="color: white;"> by<span> <a  href="{%url 'profile' post.author.id%}">{{post.author.first_name}}</a> </span></h3></li>
                            <li><h4 style="color:aliceblue;">{{post.date_create|date:"M d, Y"}}</h4> </li>
                            <h3 style="color: blueviolet;">
                                {%if messages%}
                                {%for m in messages%}
                                    {{m}}
                                {%endfor%}
                                {%endif%}
                            </h3>
                            <!-- <li>05 Comment</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <div class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__quote">
                            
                                <h3 style="color: white;"> Prerequistic</h3>
                               

                            <p style="color: white;">    {{post.prerequis}}</p>
                            
                            
                        </div>
                        <div class="blog__details__text">

                            <p>{{post.content}}</p>
                            
                        </div>
                        
                        
                        <div class="blog__details__tags">
                            <span><i class="fa fa-tag"></i> Tag:</span>
                            {%for tag in post.cate.all%}
                            <a href="{%url 'catedetail' tag%}">{{tag}}</a>
                            {%endfor%}
                            <!-- <h3 style="color: white;"> {{post.cate.all}}</h3> -->
                        </div>
                        <div class="blog__details__option">
                            <div class="row">
                                {%if post.get_previous_by_date_create%}
                                
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="{%url 'writeupdetail' post.get_previous_by_date_create.id%}" class="blog__details__option__item">
                                        <h5><i class="fa fa-angle-left"></i> Previous posts</h5>
                                        <div class="blog__details__option__item__img">
                                            <img src="{% static 'writeup/img/blog/prev.jpg'%}" alt="">
                                        </div>
                                        <div class="blog__details__option__item__text">
                                            <h6>{{post.get_previous_by_date_create.title}}</h6>
                                            <span>{{post.get_previous_by_date_create.date_create| date:"M d, Y"}}</span>
                                        </div>
                                    </a>
                                </div>
                                {%endif%}
                                {%if post.get_next_by_date_create%}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="{%url 'writeupdetail' post.get_next_by_date_create.id%}" class="blog__details__option__item blog__details__option__item--right">
                                        <h5>Next posts <i class="fa fa-angle-right"></i></h5>
                                        <div class="blog__details__option__item__img">
                                            <img src="{% static 'writeup/img/blog/prev.jpg'%}" alt="">
                                        </div>
                                        <div class="blog__details__option__item__text">
                                            <h6>{{post.get_next_by_date_create.title}}</h6>
                                            <span>{{post.get_next_by_date_create.date_create| date:"M d, Y"}}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        <div class="blog__details__comment">
                            <h4>Leave a comment</h4>
                            <form action="#">
                                <div class="input__list">
                                    <input type="text" placeholder="Name">
                                    <input type="text" placeholder="Email">
                                    <input type="text" placeholder="Website">
                                </div>
                                <textarea placeholder="Comment"></textarea>
                                <button type="submit" class="site-btn">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details Section End -->
    {% endblock %}