{%extends 'writeup/base.html'%}
{%load static%}

{% block content %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{%url 'wuhpage'%}" style="color: white;"><h2 style="color: white;"><em> D3ds3c</em> </h2></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li style="color: red;"><a href="{%url 'welcomehome'%}" > <h5 style="color: pink;">Welcome page</h5></a></li>
                                <li ><a href="{%url 'wuhpage'%}">Home</a></li>
                                
                                <!-- <li ><a href="#">Roadmap</a></li>  -->
                                <li><a href="{%url 'writeup'%}">Writeup</a>
                                    <ul class="dropdown">

                                        <li><a href="#">Create writeup</a></li>
                                        {%if user.is_authenticated%}
                                        
                                        <li><a href="{%url 'userwu' user.username%}">My writeup</a></li>
                                        {%endif%}
                                        <li><a href="{%url 'cate'%}">Categories</a></li>
                                        <!-- <li><a href="#"> placeholder</a></li> -->
                                    </ul>
                                
                                </li>
                                

                                
                               
                                
                                {%if user.is_authenticated%}
                                <li><a href="#">Hello, {{user.first_name}}</a>
                                    <ul class="dropdown">
                                        <li><a href="{%url 'profile' user.id%}">Profile</a></li>
                                        <li><a href="{% url 'logout'%}">Log out</a></li>
                                        
                                    </ul>
                                </li>
                                {%else%}
                                
                                <li>
                                    <a href="{% url 'login'%}">Sign in</a>
                                </li>
                                {%endif%}
                                
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.facebook.com/profile.php?id=100068404994823"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/phong20031"><i class="fa fa-twitter"></i></a>
                            
                            <a href="https://www.instagram.com/_minh_nguyn/?hl=en"><i class="fa fa-instagram"></i></a>
                            <a href="https://zalo.me/0377075126"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
 <form method="POST" enctype="multipart/form-data">
        {%  csrf_token %}
    <!-- Blog Details Hero Begin -->
    <section class="blog-hero spad set-bg" data-setbg="{%static 'writeup/img/team-bg.jpg'%}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__hero__text">
                        <h2>Are you sure want to delete {{object.title}} ?</h2>
                        <ul>
                            <li><h3 style="color: white;">by <span> <a href="{%url 'profile' user.id%}">{{user.first_name}}</a> </span></h3> </li>
                            <!-- <li>{{post.date_create|date:"M d, Y"}}</li> -->
                            <!-- <li>05 Comment</li> -->
                        </ul>
                    </div>
                </div>
                
            </div>
                    <button class="animated fadeInDown">
                        <div class="section-heading text-center">
                            <!-- <h5 style="color: red;">avatar image scale should be 1:1</h5> <br> -->
                            <h2>Yes</h2>
                            
                        </div>
                    </button>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
                    
                
    </form>
    <!-- Blog Details Section End -->
    {% endblock %}