{%extends 'welcome/base.html'%}
{%load static%}

{% block content %}

   

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>About <em>Us</em></h1>
            </div>
        </div>
    </div>


    <div class="services">
        <div class="container">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{%static 'welcome/img/service_1.png'%}" alt="">
                    </div>
                    <div class="text">
                        <h4>Ctf writeup</h4>
                        <p>Our website provides writeup for all kind of ctf</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{%static 'welcome/img/service_2.png'%}" alt="">
                    </div>
                    <div class="text">
                        <h4>Join us ?</h4>
                        <p>You can be a part of our website. If you wanna join, please contact our admin.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{%static 'welcome/img/service_3.png'%}" alt="">
                    </div>
                    <div class="text">
                        <h4>Placeholder purpose only</h4>
                        <p>.................</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{%static 'welcome/img/service_4.png'%}" alt="">
                    </div>
                    <div class="text">
                        <h4>Nullam et justo</h4>
                        <p>Donec et nisi sed magna tincidunt fermentum. Pellentesque eget semper felis, sit amet scelerisque neque.</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{%static 'welcome/img/service_5.png'%}" alt="">
                    </div>
                    <div class="text">
                        <h4>Integer ac justo</h4>
                        <p>Donec et nisi sed magna tincidunt fermentum. Pellentesque eget semper felis, sit amet scelerisque neque.</p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{%static 'welcome/img/service_6.png'%}" alt="">
                    </div>
                    <div class="text">
                        <h4>Placeholder purpose only.</h4>
                        <p>..................</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>


   


    

    {% endblock %}