{%load static%}
<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" type="image/png" href="{% static 'user/images/icons/favicon.ico'%}"/>
        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
        
        <!-- title of site -->
        <title>Skill Update</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="{%static 'profile/logo/favicon.png'%}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{%static 'profile/css/font-awesome.min.css'%}">

		<!--flat icon css-->
		<link rel="stylesheet" href="{%static 'profile/css/flaticon.css'%}">

		<!--animate.css-->
        <link rel="stylesheet" href="{%static 'profile/css/animate.css'%}">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="{%static 'profile/css/owl.carousel.min.css'%}">
		<link rel="stylesheet" href="{%static 'profile/css/owl.theme.default.min.css'%}">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{%static 'profile/css/bootstrap.min.css'%}">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="{%static 'profile/css/bootsnav.css'%}" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="{%static 'profile/css/style.css'%}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{%static 'profile/css/responsive.css'%}">
        
        <!-- HTML5 shim and Respond.js'%} for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js'%} doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'%}"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js'%}"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		<!-- header start -->
		<header class="top-area">
			<div class="header-area">
				<!-- Start Navigation -->
			    <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

			        <div class="container">

			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
			            </div><!--/.navbar-header-->
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <!-- /.navbar-collapse -->
			        </div><!--/.container-->
			    </nav><!--/nav-->
			    <!-- End Navigation -->
			</div><!--/.header-area-->

		    <div class="clearfix"></div>

		</header><!-- /.top-area-->
		<!-- header End -->
	
		<!--welcome-hero start -->

		<!--about start -->
	<!--education start -->
		<form method="POST" class="login100-form validate-form" enctype="multipart/form-data">
			{%  csrf_token %}
		<section id="education" class="education">
			<div class="section-heading text-center">
				<h2>skill update</h2>
			</div>
			<div class="container">
				<div class="education-horizontal-timeline">
					<div class="row">
						{%for f in form%}
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>{{f.label}}</h2>
									<h3>{{f}}</h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<i class="fa fa-circle" aria-hidden="true"></i>
									<span class="single-timeline-horizontal"></span>
								</div>
							</div>
						</div>

						{%endfor%}
						
							
						
					</div>
					<div class="container-login100-form-btn">
					<button class="animated fadeInDown">
						<div class="section-heading text-center">
							{{form.errors}}	
							<h2 style="margin-left: 500px;">Update</h2>
							
						</div>
					</button>
					</div>	
				</div>
			</div>
		
		</section><!--/.education-->

		</form>
		<!--education end -->
		
		<!--footer-copyright end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="{%static 'profile/js/jquery.js'%}"></script>
        
        <!--modernizr.min.js'%}-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js'%}-->
        <script src="{%static 'profile/js/bootstrap.min.js'%}"></script>
		
		<!-- bootsnav js -->
		<script src="{%static 'profile/js/bootsnav.js'%}"></script>
		
		<!-- jquery.sticky.js'%} -->
		<script src="{%static 'profile/js/jquery.sticky.js'%}"></script>
		
		<!-- for progress bar start-->

		<!-- progressbar js -->
		<script src="{% static 'profile/js/progressbar.js'%}"></script>

		<!-- appear js -->
		<script src="{%static 'profile/js/jquery.appear.js'%}"></script>

		<!-- for progress bar end -->

		<!--owl.carousel.js'%}-->
        <script src="{%static 'profile/js/owl.carousel.min.js'%}"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		
        
        <!--Custom JS-->
        <script src="{%static 'profile/js/custom.js'%}"></script>
        
    </body>
	
</html>